@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Light"), local("Larsseit-Light"), url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Regular"), local("Larsseit-Regular"), url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Medium"), local("Larsseit-Medium"), url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff"), url("../fonts/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: local("Larsseit Bold"), local("Larsseit-Bold"), url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: Larsseit;
  color: #22356F;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.header__container {
  padding-top: 27px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contact {
  font-weight: 700;
  color: #fff;
  background-color: #62D0DF;
  border: none;
  border-radius: 50px;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 14px;
  padding: 20px 30px 19px 30px;
}
.header__contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9B640;
  border-radius: 50px;
  transform: scale(0);
  transition: 0.5s;
}
.header__contact:hover::before {
  transform: scale(2);
}
.header__contact:focus::before {
  transform: scale(2);
}
.header__contact:active::before {
  transform: scale(2);
}
.header__contact:hover {
  background: transparent;
  color: #fff;
}
.header__contact:focus {
  background: transparent;
  color: #fff;
}
.header__contact:active {
  background: transparent;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #62D0DF;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu__item {
  margin-right: 28px;
}
.nav-menu__item:last-child {
  margin-right: 0;
}
.nav-menu__link {
  font-size: 14px;
  position: relative;
}
.nav-menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -10px;
  background-color: #22356F;
  height: 1px;
  transition: 0.3s;
  margin-top: 50px;
}
.nav-menu__link:hover::before {
  right: 0;
}
.nav-menu__link:focus::before {
  right: 0;
}
.nav-menu__link:active::before {
  right: 0;
}

.banner {
  height: 840px;
  background-color: #F4F9E2;
  background-image: url(../img/block-1.png), url(../img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__text {
  height: 64%;
  max-width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner__title {
  font-size: 48px;
  line-height: 110%;
}
.banner__subtitle {
  font-size: 24px;
  line-height: 150%;
}
.banner__button-container {
  display: flex;
  justify-content: flex-start;
}
.banner__button_active {
  font-weight: 700;
  color: #fff;
  background-color: #F9B640;
  border: none;
  border-radius: 0;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 10%;
  padding: 10px 30px;
}
.banner__button_active::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f9e2;
  border-radius: 0;
  transform: scale(0);
  transition: 0.5s;
}
.banner__button_active:hover::before {
  transform: scale(2);
}
.banner__button_active:focus::before {
  transform: scale(2);
}
.banner__button_active:active::before {
  transform: scale(2);
}
.banner__button_active:hover {
  background: transparent;
  color: #F9B640;
}
.banner__button_active:focus {
  background: transparent;
  color: #F9B640;
}
.banner__button_active:active {
  background: transparent;
  color: #F9B640;
}
.btn {
  font-weight: 700;
  color: #F9B640;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 10%;
  padding: 10px 30px;
  margin-left: 8px;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9B640;
  border-radius: 0;
  transform: scale(0);
  transition: 0.5s;
}
.btn:hover::before {
  transform: scale(2);
}
.btn:focus::before {
  transform: scale(2);
}
.btn:active::before {
  transform: scale(2);
}
.btn:hover {
  background: transparent;
  color: #fff;
}
.btn:focus {
  background: transparent;
  color: #fff;
}
.btn:active {
  background: transparent;
  color: #fff;
}

.why {
  background-color: #62D0DF;
  background-image: url(../img/block-2.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 604px;
}
.why__text {
  height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.why__title {
  color: #fff;
  font-size: 36px;
}
.why__content {
  height: 50%;
  color: #fff;
  font-size: 23px;
  line-height: 35px;
}
.why__content_bold {
  font-size: 25px;
  background: none;
  font-weight: 700;
}

.about {
  height: 366px;
}
.about__container {
  max-width: 1245px;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
}
.about__grid {
  display: grid;
  grid-template-columns: 27% 46% 27%;
}
.about__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  align-self: center;
}
.about__text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  align-self: flex-end;
}

.we-can {
  margin-bottom: 3%;
  height: 595px;
}
.we-can__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.we-can__title {
  font-size: 16px;
  color: #909ab7;
  padding-bottom: 2%;
}
.we-can__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  background: #000;
  width: 100%;
  height: 50%;
}
.we-can__grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
.we-can__card {
  padding: 17% 17%;
}
.we-can__card:nth-child(1) {
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: #ffe2de;
}
.we-can__card:nth-child(2) {
  background-color: #c4e769;
}
.we-can__card:nth-child(3) {
  background-color: #62D0DF;
}
.we-can__card:nth-child(4) {
  background-color: #0052c1;
}

.card {
  font-weight: 700;
  font-size: 32px;
  line-height: 90%;
  color: #fff;
  position: relative;
}
.card::before {
  content: "•";
  color: #F9B640;
  display: inline-block;
  width: 1em;
  margin-left: -10%;
}
.card::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  width: 75%;
  left: 10%;
  top: 32px;
}

.services__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}
.services__container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
.services__item {
  padding: 12% 17%;
}
.services__item:nth-child(1) {
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: #22356F;
}
.services__item:nth-child(2) {
  background-color: #0052c1;
}
.services__item:nth-child(3) {
  background-image: url(../img/block-5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  transition-property: background-size;
  transition: 10s;
}
.services__item:nth-child(3):hover {
  background-size: 150%;
}
.services__item:nth-child(4) {
  background-color: #62D0DF;
}
.services__item:nth-child(5) {
  background-color: #dee1ff;
}
.services__item:nth-child(6) {
  background-color: #8f00ff;
}

.advantages {
  height: 542px;
}
.advantages__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.list-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-item__container {
  height: 44%;
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item__title {
  font-weight: 400;
  font-size: 28px;
}
.list-item__text {
  font-size: 16px;
  line-height: 135%;
  color: #909ab7;
}

.cta {
  height: 800px;
}
.cta__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.cta__content {
  height: 115%;
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 7%;
}
.cta__title {
  font-size: 16px;
}
.cta__text {
  font-size: 36px;
  line-height: 125%;
}
.cta__mark {
  background: none;
  color: #62D0DF;
}
.contact {
  height: 800px;
  background-color: #22356F;
  background-image: url(../img/block-8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.contact__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact__content {
  height: 78%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact__title {
  color: #fff;
  font-size: 16px;
  line-height: 65%;
}
.contact__heading {
  color: #fff;
  font-size: 64px;
  line-height: 125%;
}
.contact__text {
  color: #fff;
  font-size: 36px;
  line-height: 125%;
}
.contact__button {
  font-weight: 700;
  color: #62D0DF;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
}
.contact__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #62D0DF;
  border-radius: 0;
  transform: scale(0);
  transition: 0.5s;
}
.contact__button:hover::before {
  transform: scale(2);
}
.contact__button:focus::before {
  transform: scale(2);
}
.contact__button:active::before {
  transform: scale(2);
}
.contact__button:hover {
  background: transparent;
  color: #fff;
}
.contact__button:focus {
  background: transparent;
  color: #fff;
}
.contact__button:active {
  background: transparent;
  color: #fff;
}
.contact__info {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__container {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.footer__title {
  font-size: 14px;
  line-height: 65%;
}
.footer__text {
  font-size: 14px;
  line-height: 140%;
  color: #9099b6;
}
.footer__add {
  font-style: normal;
}
.footer__tel {
  display: block;
}
.footer__email {
  display: block;
  color: #006dff;
}
.copy {
  height: 80px;
  background-color: #62D0DF;
}
.copy__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copy__text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 65%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #F9B640;
}